.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* -------------- BACKGROUND ---------- */

.background {
  background-image: url('./images/travel_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;

}

/* ------------ HOME.js ------------------- */


.box {
  margin: auto;
  margin-top: 400px;
  background-color: white;
  box-shadow: 2px 2px 5px black;
  border-radius: 15px;
  width: 50%;
}

.innerBox {
  padding: 10px;
}

.currencyRow,
.formRow {
  justify-content: center;
  padding: 10px;
}

.currencyRow button {
  width: 33%;
  border: none;
  background-color: transparent;
}

.convertTo,
.convertFrom {
  width: 50px;
}

.buttonHolster {
  position: relative;
}

.btn-sm {
  margin-left: 5px;
  margin-right: 5px;
}

.menu {
  position: absolute;
  top: 32px;
  background-color: skyblue;

  
}

.menuItem {
  background-color: transparent;
  outline: none;
  border: 0;
}


/* ------------ CURRENCY CHART ------------ */

.sky {
  margin-top: 500px;
  margin-bottom: 0;
}


/* ------------- BANG FOR YOUR BUCK ---------- */

.sea {
  margin-top: 500px;
  margin-bottom: 0;
}



/* ------------ FOOTER NAVIGATION -------- */

#socialMediaFooter {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

#socialMediaFooter a {
  color: white;
}