/* --------------- GENERICS ------------ */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button:focus {
  outline: 0;
}



/* -------------- BACKGROUND ---------- */
#root {
  background-image: url('./images/travel_background.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-attachment: fixed; 
  min-height: 100vh;
}

.container {
  padding-bottom: 50px;
}



/* ----------- NAV.JS ----------------------- */
.navbar {
  width: 85px;
}

.navLink {
  color: white;
  font-weight: 400;
  margin-top: 10px;
}

.navLink:hover {
  color: white;
}

@media(max-width:  767px) {
  .navbar {
    box-shadow: none;
  }
  .navButton {
    margin-left: -5px;
    box-shadow: 0 2px 10px 0 rgb(250 250 250);
    border-radius: 100%;
  }
  .navButton:hover {
    background-color: rgba(250, 250, 250, 0.5);
  }
  .navbar-collapse {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    padding: 5px;
  }
  .navLink {
    margin-top: 5px;
  }
}


/* ------------ PORTFOLIO.JS --------------- */

.portfolio {
  margin-top: 50px;
}

.bioPicture img {
  box-shadow: 2px 2px 5px black;
}

.bio {
  display: flex;
  align-items: flex-start;
}

.bio p {
  font-weight: 400;
  padding: 15px;
  background-color: white;
  box-shadow: 2px 2px 5px black;
  border-radius: 50px 50px 50px 0;
}

@media (max-width: 768px) {
  .portfolio {
    flex-direction: column;
    align-items: center;
    background-color: rgba(250, 250, 250, 0.5);
    box-shadow: 2px 2px 5px black;
    border-radius: 15px;
  }

  .bioPicture {
    margin-top: 25px;
  }

  .bio {
    margin-top: 10px;
  }
  .bio p {
    box-shadow: none;
    background-color: transparent;
  }

}

@media (max-width: 575px) {
  .portfolio {
    margin-left: 15px;
    margin-right: 15px;
  }
}



/* ------------- TITLE --------------------- */

#pageTitle {
  margin-top: 30px;
  margin-bottom: 130px;
  text-align: center;
  color: white;
  text-shadow: 4px 4px grey;
  font-size: 150px;
  font-weight: 400;
}
@media(max-width: 1199px) {
  #pageTitle {
    font-size: 140px;
   
  }
}
@media(max-width: 991px) {
  #pageTitle {
    font-size: 105px;

    
  }
}
@media(max-width: 767px) {
  #pageTitle {
    font-size: 75px;
  }
}
@media(max-width: 470px) {
  #pageTitle {
    font-size: 50px;
  }
}



/* ------------ HOME.js ------------------- */

.box {
  margin: auto;
  margin-top: 1px;
  box-shadow: 2px 2px 5px black;
  border-radius: 15px;
  width: 80%;
  background-color: rgba(250, 250, 250, 0.5);
}

.innerBox {
  padding: 0 10px 10px 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.currencyRow {
  justify-content: space-between;
}
.formRow {
  justify-content: space-between;
  padding: 10px;
  margin: 20px 5px 20px 5px;
}

.currencyRow button {
  width: 33.33333333%;
  border: none !important;
  margin-top: 0;
  background-color: skyblue;
  min-height: 40px;
}

.topLeftButton {
  border-radius: 15px 0 15px 0;
 
}
.middleButton {
  border-radius: 0 0 15px 15px;
}
.topRightButton {
  border-radius: 0 15px 0 15px;
}

.currencyRow a {
  color: white;
  line-height: 15px;
  font-size: 15px;
}
.currencyRow a:hover {
  color: red;
  font-weight: bold;
}
@media(max-width: 405px) {
  .currencyRow a {
    font-size: 12px;
    line-height: 12px;
  }
}

#convertTo,
#base {
  width: 60%;
}

.conversion {
  display: flex;
  justify-content: space-between;
}

@media(max-width: 575px) {
  .conversionBase {
    justify-content: flex-start;
  }
  .conversionTo {
    justify-content: flex-end;
  }
  .conversionArrow {
    text-align: center;
  }
  .conversionArrow .fa {
    transform: rotate(90deg);
  }
}
@media(max-width: 470px) {
  .conversionTo,
  .conversionBase {
    padding: 0;
  }
}
#currencyButton {
  padding: 5px !important;
  background-color: white;
}

.dropdown-menu {
  height: 200px;
  left: -50px !important;
  overflow: scroll;
}

.dropdown-toggle::after {
  margin-top: 5px !important;
}



/* ------------ CURRENCY CHART ------------ */

.currencyChart {
  margin-top: 326px;
}

.chartTitle {
  text-align: center;
  color: white;
  text-shadow: 2px 2px grey;
  font-size: 70px !important;
  font-weight:400;
  position: absolute;
  top: -90px;
  left: 0;

}
.currencyChartChoice,
.currencySymbol {
  color: red;
}
@media(max-width: 991px) {
  .currencyChart {
    margin-top: 200px;
  }
  .chartTitle{
    font-size: 60px !important;
    top: -65px;
    left: 0;
  }
}
@media(max-width: 767px) {
  .chartTitle{
    font-size: 45px !important;
    top: -60px;
    left: 0;
  }
}
@media(max-width: 575px) {
  .chartTitle{
    font-size: 30px !important;
    top: -60px;
    left: 0;
  }
  
  #chartValues {
    height: 300px;
    overflow-y: scroll;
  }

  .dataAmount {
    white-space: nowrap;
  }

}

.table {
  position: relative;
  width: 80%;
  padding: 20px;
  margin: auto;
  background-color: rgba(250, 250, 250, 0.5);
  box-shadow: 2px 2px 5px black;
  border-radius: 15px;
}

.headRow {
  border-bottom: 2px solid black;
  flex-wrap: nowrap;
}



.tableRow {
  justify-content:space-evenly;
  text-align: center;
  padding-bottom: 5px;
  font-weight: 500;
}



/* ------------- CHANCEDESTINATION.JS ---------- */


.destinationTitle {
  margin-top: 170px;
  padding-left: 165px;
  color: white;
  text-shadow: 2px 2px grey;
  font-size: 70px !important;
  font-weight:400;
}
.destinationRow {
  margin-top: 50px;
}

.v1 {
  border-right: 6px solid skyblue;
  height: 500px;
}

.info {
  flex-direction: column;
}

@media(max-width: 991px) {
  .destinationTitle {
   margin-top: 100px;
   font-size: 45px !important;
   padding-left: 20px;
  }

}

.destination {
  display: flex;
  padding-left: 50px;
  text-align: left;
  max-width: 100%;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
}

.warning {
  display: flex;
  text-align: center; 
  margin-top: 150px;
}

@media(max-width: 767px) {
  .chanceDestination {
    background-color: rgba(250, 250, 250, 0.5);
    box-shadow: 2px 2px 5px black;
    border-radius: 15px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  .v1 {
    display: none;
  }
  .textRemove {
    display: none;
  }
  .warning {
    margin-top: 10px;
    padding-bottom: 50px;
  }
}

.arrow {
  color: skyblue;
}

.travel {
  color: red;
}



/* ------------ FOOTER NAVIGATION -------- */

#socialMediaFooter {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

#socialMediaFooter a {
  color: white;
}